html {
  box-sizing: border-box;
}
body {
  width: 100%;
}
.navBarTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  position: fixed;
  top: 0;
  background-color: white;
  height: 4rem;
}
input {
  font-size: 1.5rem;
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgba(0,0,0,.8);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  transform: translateZ(0);
}
#r {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.2);
  height: 2.5rem;
  width: 2.5rem;
}
#upgrade {
  border-radius: .2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
#now:hover {
  text-decoration: underline;
}
#my {
  text-decoration: underline;
}
.topText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content:center;
  width: 15%;
  color: rgba(0,0,0,.6);
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
 padding-left: 1%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.topBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.topBarContents {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 9%;
}

.shuffle {
  color: #224099;
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.myStations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.station>h5 {
  color: rgba(0,0,0,.4)
}
.stations1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}
.stations2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}
.stations3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}
.stations4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 31%;
  margin-bottom: 2%;
}
.station>img {
  width:80%;
  height:80%;
  padding-left: 2%;
  padding-right: 2%;
}
.station {
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
}
.station>h4 {
  margin-top: 4%;
  margin-bottom: -5%;
}
// .suggestions {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 65%;
// }
// .suggest>img {
//   width: 202.66px;
//   height: 202.66px;
// }
// .suggest {
//   font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
//   font-weight: 500;
// }
.footer {
  display:flex;
  flex-direction: row;
}
.browse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: rbga(0,0,0,.8);

}
.footerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgba(0,0,0,.6);
  line-height: 1.2rem;
}
.copyright {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 7%;
  font-size: 1rem;
  color: rgba(0,0,0,.4);
}
.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #224099;
  color: white;
}
.currentSong {
  margin-left: 2%;
}
.volume {
  margin-right: 2%;
}
button {
  background-color:  #224099;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
#genre {
  border-radius: .2rem;
  font-size: 1.0rem;
  padding: 15px;
}
#az {
  background-color: white;
  color:  #224099;
  font-size: 15px;
}
#recent {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
